#classes_main {
	position: absolute;
	width: auto;
	height: auto;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0px 0px 8px #eee;
}

#classes_main>div:nth-child(1) {
	overflow: hidden;
	padding: 0px 20px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

#classes_main>div:nth-child(1)>div:nth-child(1) {
	float: left;
	width: 1px;
	height: 20px;
	border-left: 2px solid #347ffa;
	margin: 20px 10px 20px 0px;
}

#classes_main>div:nth-child(1)>div:nth-child(2) {
	float: left;
}

/*#classes_main>div:nth-child(1)>div:nth-child(3) {
	float: left;
	width: 60px;
	height: 24px;
	line-height: 24px;
	border-radius: 5px;
	text-align: center;
	margin: 18px 0px 18px 20px;
	border: 1px solid #ddd;
	font-size: 15px;
}

#classes_main>div:nth-child(1)>div:nth-child(3)>img {
	width: 10px;
	height: 10px;
	margin-right: 5px;
}*/

#classes_main>div:nth-child(1)>div:nth-child(3) {
	float: right;
	border-radius: 5px;
	background: #347ffa;
	color: #fff;
	font-size: 15px;
	height: 34px;
	margin: 13px 0px;
	padding: 0px 10px;
	line-height: 34px;
}


/*底部css*/

#classes_main>div:nth-child(2) {
	position: absolute;
	top: 60px;
	bottom: 0px;
	width: 100%;
	height: auto;
	overflow: hidden;
	overflow-y: auto;
}


/*搜索部分css*/

#classes_search {
	overflow: hidden;
	padding: 20px 20px;
	font-size: 15px;
}

#classes_search>div:nth-child(1) {
	border: 1px solid #ccc;
	float: left;
}

#classes_search>div:nth-child(1)>div:nth-child(1) {
	float: left;
	border-right: 1px solid #ccc;
}

#classess_select1 {
	width: 100px;
	height: 30px;
	border: none;
	padding-left: 5px;
	font-size: 15px;
}

#classess_input1 {
	width: 200px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	border: none;
}

#classess_sousuo {
	float: right;
	width: 18px;
	height: 18px;
	margin: 6px;
	cursor: pointer;
}
.sousuo{
	float: left;
	width: 60px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin-left: 20px;
	border-radius: 5px;
	background: #2F80ED;
	color:#fff;
	cursor: pointer;
}
#classes_search>div:nth-child(1)>div:nth-child(2) {
	float: left;
}

#classes_search>div:nth-child(2),
#classes_search>div:nth-child(3) {
	border: 1px solid #ccc;
	float: left;
	margin-left: 30px;
}

#classes_search>div:nth-child(2)>div:nth-child(1),
#classes_search>div:nth-child(3)>div:nth-child(1) {
	float: left;
	border-right: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	width: 80px;
	text-align: center;
}

#classes_search>div:nth-child(2)>div:nth-child(2),
#classes_search>div:nth-child(3)>div:nth-child(2),
#classes_search>div:nth-child(3)>div:nth-child(3) {
	float: left;
	height: 30px;
	line-height: 30px;
}

#classess_select2 {
	width: 100px;
	height: 30px;
	border: none;
	padding-left: 5px;
	font-size: 15px;
}

#classes_search>div:nth-child(3)>div:nth-child(2) {
	border-right: 1px solid #ccc;
}

#datetime1,
#datetime2 {
	float: left;
	width:165px;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	border: none;
}
#dateFocus1,#dateFocus2{
	cursor: pointer;	
}

#classes_search>div:nth-child(3)>div:nth-child(2) img,
#classes_search>div:nth-child(3)>div:nth-child(3) img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 7px 10px 7px 5px;
}

#classes_search>div:nth-child(3)>div:nth-child(2) span {
	margin: 0px 10px 0px 10px;
}

#_clear {
	float: left;
	width: 60px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin-left: 20px;
	border-radius: 5px;
	border: 1px solid #888;
	cursor: pointer;
}


/*中间部分css*/
.TableBox{
	 position: absolute;
	 top: 110px;
	 bottom: 72px;
	 left: 0px;
	 right: 0px;
	 padding:0px 20px;
	 overflow-y: auto;
}
#classes_bottom {
	margin: 0px 20px;
}

#classes_bottom>div:nth-child(1) {
	padding-left: 5px;
}

#classes_table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

#classes_table td,
#classes_table th {
	border: 1px solid #eee;
	padding: 10px 5px;
}

#classes_table thead tr:nth-child(1) {
	background: #f7fafa;
}

#classes_table tr>td:nth-child(12) {
	color: #347ffa;
	cursor: pointer;
}
.xuanze{
	width:80px;
	margin: 0 auto;
	padding: 5px 0px;
	color:#fff;
	border-radius: 10px;
	background: #347ffa;
	cursor: pointer;
}
.shunxu{
	display: inline-block;
}
.shunxu>img{
	display: block;
	cursor: pointer;
	width: 10px;
	height: 5px;
	margin-top: 3px;
}
/*table控制css*/
#table_ctr{
	margin:20px 0px;
	overflow: hidden;
	position: absolute;bottom: 0px;left: 20px;right: 20px;
}
#table_ctr>div{
	float: right;
	line-height: 30px;
}
#table_ctr>div>div{
	float: left;
}
#table_ctr>div>div:nth-child(1),
#table_ctr>div>div:nth-child(2){
	margin-right: 20px;
}
#curr_num{
	width:70px;
	height: 30px;
	cursor: pointer;
}
#curr_input{
	float: left;
	width:40px;
	height: 30px;
	margin: 0px 20px 0px 0px;
	border: 1px solid #ccc;
	padding: 0px 5px;
}
#table_ok{
	width: 60px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
}
#table_ok:hover{
	background: #347ffa;
	color: #fff;
}
/*分页的css样式在此*/

#fenye {
	overflow: hidden;
	margin: 0 auto;
	/*width: 224px;*/
	text-align: center;
	font-size: 14px;
	color: #2F80ED;
	-webkit-user-select: none;
}

#fenye_last:hover,
#fenye_next:hover,
#fenye_last_max:hover,
#fenye_next_max:hover,
#fenye_num div:hover {
	color: #fff;
	background: #2F80ED;
	cursor: pointer;
}

#fenye_last,
#fenye_next,
#fenye_last_max,
#fenye_next_max,
#fenye_num div {
	float: left;
	border: 1px solid #ddd;
	width: 30px;
	line-height: 30px;
}

#fenye_last_max {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#fenye_next_max {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#fenye_num {
	overflow: hidden;
	float: left;
}

.select_num {
	color: #fff;
	background: #2F80ED;
}

/*新增班级的弹窗css*/
#addClasses,#bianji,#xzxyTc,#tjjc{
	display: none;
	z-index: 500;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#adShadow,#bianjiShadow,#xzxyShadow,#tjjcShadow{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
}
#addMain,#bianjiMain,#tjkcMain,#xzxyMain,#tjjcMain{
	position: absolute;
	width: 530px;
	height: 80%;
	opacity: 0;
	top: 0%;bottom: 10%;left: 0px;right: 0px;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 10px #dae3f3;
	font-size: 15px;
	text-align: center;
}
#addMain>div:nth-child(1),
#bianjiMain>div:nth-child(1),
#xzxyMain>div:nth-child(1),
#tjjcMain>div:nth-child(1){
	line-height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #dae3f3;
	padding: 0px 20px;
}
#addMain>div:nth-child(1)>div:nth-child(1),
#bianjiMain>div:nth-child(1)>div:nth-child(1),
#xzxyMain>div:nth-child(1)>div:nth-child(1),
#tjjcMain>div:nth-child(1)>div:nth-child(1){
	float: left;
}
#addMain>div:nth-child(1)>img,
#bianjiMain>div:nth-child(1)>img,
#xzxyMain>div:nth-child(1)>img,
#tjjcMain>div:nth-child(1)>img{
	float: right;
	width:12px;
	height: 12px;
	margin: 19px 0px;
	cursor: pointer;
}
/*弹窗中部*/
#addMain>div:nth-child(2),
#bianjiMain>div:nth-child(2),
#xzxyMain>div:nth-child(2),
#tjjcMain>div:nth-child(2){
	position: absolute;
	width: 100%;
	height: auto;
	top: 50px;
	bottom: 60px;
	overflow-y: auto;
}
.addInline{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.addInline>div:nth-child(1){
	width:90px;
	line-height: 32px;
}
.addInline>div:nth-child(2){
	width:380px;
	position: relative;
}
#xzjc,#jxtj,.jiaocai{
	height: 30px;
	line-height: 30px;
	color:#888;
	border: 1px solid #ccc;
	cursor: pointer;
}
.jiaocai{
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
.jiaocai>div:nth-child(1){
	margin-left: 5px;
}
.jiaocai>div:nth-child(1)>img,
.jiaocai>div:nth-child(2)>img{
	margin-top: -4px;
}
.jiaocainame{
	display: inline-flex;
	max-width: 250px;
	margin-left: 5px;
}
.jiaocai>div:nth-child(2){
	margin-right: 7px;
}
.jiaocai>div:nth-child(2)>span{
	margin-right: 7px;
}
#jxtj{
	display: none;
}
#zhouqi,#zkls,#jiaoshi{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	padding-left: 10px;
}
#addName{
	width:100%;
	height: 30px;
	line-height: 30px;
	padding: 0px 40px 0px 10px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
#addNameNum{
	position: absolute;
	top: 5px;
	right: 5px;
	color:#888;
}
.addInline1,.addInline2{
	margin-top: 20px;
}
.addInline1>div,.addInline2>div{
	display: inline-block;
}
.addInline1>div:nth-child(1),
.addInline1>div:nth-child(3){
	width:60px;
}
.addInline1>div:nth-child(2),
.addInline1>div:nth-child(4),
.addInline1>div:nth-child(5){
	width:80px;
}
.xingqi,.shijian,.shijian2{
	width: 100%;
	height: 30px;
	border: 1px solid #ccc;
}
.addTime,.removeTime{
	width:20px;
	height: 20px;
	border-radius: 20px;
	background: #347df8;
	line-height: 15px;
	text-align: center;
	color:#fff;
	font-size: 20px;
	font-weight: 600;
	margin-left: 10px;
	cursor: pointer;
}
.removeTime{
	background: red;
}
.addInline2>div:nth-child(1){
	width:90px;
}
.addInline2>div:nth-child(3){
	width:70px;
}
.addInline2>div:nth-child(2){
	position: relative;
	width:165px;
	padding-left: 0px;
	border: 1px solid #ccc;
	text-align: left;
	margin-left: -5px;
}
.addInline2>div:nth-child(4){
	width:135px;
}
#kbsj,#jzsj{
	padding-left: 5px;
	width: 100%;
	height: 30px;
	border: 1px solid #ccc;
}
#kbsj{
	width:135px;
	border: none;
}
#kbsjImg{
	position: absolute;
	top:7px;right: 7px;
}
#chuji,#zhongji,#gaoji{
	display: inline-block;
	text-align: center;
	width:80px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	cursor: pointer;
}
#chuji{
	margin-right: -5px;
}
#zhongji{
	margin-right: -5px;
}
.addInline3{
	display: flex;
	justify-content:center;
	margin-top: 20px;
}
.select_banji{
	color:#fff;
	background:#347df8;
}
.addInline3>div:nth-child(1){
	width: 90px;
}
.addInline3>div:nth-child(2){
	width: 380px;
	height:190px;
	overflow: hidden;
	padding: 10px;
	border:dotted;
	border-color: #ccc;
	border-width: 1px;
	overflow-y: auto;
}
#addXueyuan,#addXueyuan1,.xueyuanImg,.xueyuanImg1{
	float: left;
	margin-right: 15px;
	position: relative;
}
#addXueyuan>div:nth-child(1),
#addXueyuan1>div:nth-child(1),
.xueyuanImg>div:nth-child(1),
.xueyuanImg1>div:nth-child(1){
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 1px solid #ddd;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.xueyuanImg>div:nth-child(1),
.xueyuanImg1>div:nth-child(1){
	background: url(http://106.15.53.15:8093/user/1/5.jpg) no-repeat center/100% 100%;
}
.removeXueyuan,
.removeXueyuan1{
	position: absolute;
	top: -5px;
	right: -5px;
	width:15px;
	height: 15px;
	border-radius: 15px;
	background: red;
	line-height: 8px;
	text-align: center;
	color:#fff;
	font-size: 30px;
	font-weight: 600;
	cursor: pointer;
}
/*底部css*/
.addBottom,.bianjiBottom,.xzxyBottom,.tjjcBottom{
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0px;
	text-align: center;
	border-top: 1px solid #dae3f3;
}
#create_classes,#bianjibanji,#xzxsOk,#tjjcOk{
	display: inline-block;
	width:90px;
	height:30px;
	margin-top: 15px;
	margin-right: 30px;
	background:#347df8;
	border-radius: 5px;
	line-height: 30px;
	color:#fff;
	cursor: pointer;
}
#no_classes,#bianjiclose,#tjkcOk,#xzxsNo,#tjjcNo{
	display: inline-block;
	width:90px;
	height:30px;
	margin-top: 15px;
	border: 1px solid #ccc;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
}
/*编辑弹窗的css*/
#bianjiMain{
	width:805px;
	height: 60%;
	top: 0%;bottom: 20%;
}
#bianjiMain>div:nth-child(2){
	width: 100%;
	padding: 15px 20px;
}
#bianjibanji{
	margin-right: 40px;
}
.bianji1,.bianji2,.bianji3{
	overflow: hidden;
}
.bianji1>div,.bianji2>div,.bianji3>div{
	float: left;
	height:50px;
	line-height: 50px;
	text-align: center;
}
.bianji1>div:nth-child(1),
.bianji1>div:nth-child(3),
.bianji1>div:nth-child(5),
.bianji2>div:nth-child(1),
.bianji2>div:nth-child(3),
.bianji3>div:nth-child(1){
	width:80px;
	color:#647c99;
	background:#f7fafa;
	font-weight: 600;
	border: 1px solid #dae3f3;
}
.bianji1>div:nth-child(2),
.bianji2>div:nth-child(2){
	width:270px;
	text-align: left;
}
.bianji1>div:nth-child(4){
	width:100px;
	text-align: left;
}
.bianji1>div:nth-child(6){
	width:148px;
	text-align: left;
}
#className,#classTeacher,#classHome{
	float: left;
	width:100%;
	height: 50px;
	padding: 0px 0px 0px 10px;
	border: 1px solid #dae3f3;
	font-size: 15px;
}
#classTeacherId{
	display: none;
}
#classType{
	width:90px;
}
#classStatus{
	width: 138px;
}
#classHome{
	width:328px;
}
.textLeft{
	height: 100%;
	padding-left: 10px;
	border: 1px solid #dae3f3;
}
.bianji2>div:nth-child(4){
	width:328px;
	text-align: left;
}
.bianji3>div:nth-child(1){
	padding-top: 15px;
	height: 200px;
	line-height: 25px;
}
.bianji3>div:nth-child(2){
	width:678px;
	height: 200px;
	line-height: 25px;
	padding: 15px;
	border: 1px solid #dae3f3;
}
#dqzt{
	/*padding: 10px;*/
	width: 100%;
	height: 50px;
	margin: 0px;
}
#status{
	height: 50px;
	line-height: 50px;
	padding-left: 5px;
	border: 1px solid #dae3f3;
}
/*选择学生弹窗的css*/
#xzxyMain{
	width: 600px;
	height: 70%;
	opacity: 0;
	top: 0%;bottom: 15%;left: 0px;right: 0px;
}

.xzxysearch{
	margin: 20px;
	overflow: hidden;
	line-height: 30px;
}
.xzxysearch>div{
	float: left;
}
.xzxysearch>div:nth-child(1){
	margin-right: 15px;
}
.xzxysearch1,.tjjcsearch1{
	overflow: hidden;
	margin-right: 15px;
	cursor: pointer;
}
.xzxysearch1>div,
.tjjcsearch1>div{
	float: left;
}
.xzxysearch1>div:nth-child(1),
.tjjcsearch1>div:nth-child(1){
	width: 18px;
	height: 18px;
	border-radius: 18px;
	border:1px solid #ccc;
	margin:6px 5px 0px 0px;
}
.xzxysearch1>div:nth-child(1)>img,
.tjjcsearch1>div:nth-child(1)>img{
	float: left;
	display: none;
}
.xzxysearch2{
	width: 249px;
	height: 30px;
	border: 1px solid #ccc;
	overflow: hidden;
}
.xzxysearch2>input{
	width:214px;
	height: 100%;
	float: left;
	border: none;
	padding: 0px 5px;
}
.xzxysearch2>img{
	float: left;
	width: 18px;
	height: 18px;
	margin: 6px;
	cursor: pointer;
}
.xzxytable{
	top:70px;bottom: 0px;
	left: 0px;right: 0px;
	padding: 0px 20px;
	height: auto;
	position: absolute;
	overflow-y: auto;
}
/*通用表格css -start*/
.jibenBiaoge {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	margin-top: 20px;
}

.jibenBiaoge td,
.jibenBiaoge th {
	border: 1px solid #dae3f3;
	padding: 10px 5px;
}

.jibenBiaoge thead tr:nth-child(1) {
	background: #f7fafa;
}

/*通用表格css --end*/
.xzxySelect,.tjjcSelect{
	width:18px;
	height: 18px;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin: 0 auto;
	cursor: pointer;
}
.xzxySelect>img,
.tjjcSelect>img{
	float: left;
	display: none;
}
.xzxyStatus1{
	color:#00af61;
}
.status1{
	color:#01ad60;
}
.status2{
	color:#ff514e;
}
.status3{
	color:#fee8c0;
}
.status4{
	color:#a1a1a1;
}
.status5{
	color:#3267FE;
}
.xzxyName>div:nth-child(1){
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: url(http://106.15.53.15:8093/user/1/5.jpg) no-repeat center/100% 100%;
}
.xzxyName>div:nth-child(2){
	float: left;
	margin-left: 10px;
	line-height: 25px;
	text-align: left;
}
/*选择学生底部弹窗*/
#xzxsOk,#tjjcOk{
	margin-right: 20px;
}
.xzxyBottom,.tjjcBottom{
	overflow: hidden;
}
.xzxyBottom>div:nth-child(1),
.tjjcBottom>div:nth-child(1){
	float: left;
	line-height: 60px;
	margin-left: 20px;
}
.xzxyBottom>div:nth-child(2),
.tjjcBottom>div:nth-child(2){
	float: right;
	margin-right: 20px;
}

/*添加教材弹窗css*/
#tjjcMain{
	width: 900px;
	height: 80%;
	top: 0%;bottom: 10%;left: 0px;right: 0px;
}
.tjjcImg{
	width:60px;
	height: 60px;
}
/*班级表中状态css*/
.wkb{
	color:#999;
}
.yjy{
	color:#fbdb9e;
}
.zc{
	color:#42b97e;
}
