#classes_main {
	position: absolute;
	width: auto;
	height: auto;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0px 0px 8px #eee;
}

#classes_main>div:nth-child(1) {
	overflow: hidden;
	padding: 0px 20px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

#classes_main>div:nth-child(1)>div:nth-child(1) {
	float: left;
	width: 1px;
	height: 20px;
	border-left: 2px solid #347ffa;
	margin: 20px 10px 20px 0px;
}

#classes_main>div:nth-child(1)>div:nth-child(2) {
	float: left;
}

/*#classes_main>div:nth-child(1)>div:nth-child(3) {
	float: left;
	width: 60px;
	height: 24px;
	line-height: 24px;
	border-radius: 5px;
	text-align: center;
	margin: 18px 0px 18px 20px;
	border: 1px solid #ddd;
	font-size: 15px;
}

#classes_main>div:nth-child(1)>div:nth-child(3)>img {
	width: 10px;
	height: 10px;
	margin-right: 5px;
}*/

#classes_main>div:nth-child(1)>div:nth-child(3) {
	float: right;
	border-radius: 5px;
	background: #347ffa;
	color: #fff;
	font-size: 15px;
	height: 34px;
	margin: 13px 0px;
	padding: 0px 10px;
	line-height: 34px;
}

/*底部css*/

#classes_main>div:nth-child(2) {
	position: absolute;
	top: 60px;
	bottom: 0px;
	width: 100%;
	height: auto;
	overflow: hidden;
	overflow-y: auto;
}

/*中间部分css*/

#classes_bottom {
	margin: 0px 20px;
}




#zhmmok{
	width:430px;
	background: #2e5da4;
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	color:#fff;
	text-align: center;
	font-size: 18px;
	margin-left: 80px;
	cursor: pointer;
}
.loginInput{
	width: 515px;
	margin: 25px auto 0px auto;
	overflow: hidden;
}
.loginInput>div:nth-child(1){
	width: 75px;
	text-align: right;
	font-size: 18px;
	float: left;
	line-height: 40px;
	margin-right: 10px;
}
.loginInput>input{
	float: left;
	width: 417px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0px 0px 0px 10px;
	font-size: 17px;
}
#iphoneTishi,#zddl,#iphoneTishi1{
	width:430px;
	margin: 5px auto 0px auto;
	color:red;
	padding-left: 85px;
	text-align: left;
	font-size: 15px;
	overflow: hidden;
}
._input{
	width:510px;
	margin: 10px auto;
}
._input>div{
	margin-left: 85px;
}
#zhmmok{
	width:430px;
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	color:#fff;
	text-align: center;
	font-size: 18px;
	margin-left: 80px;
	cursor: pointer;
	background: #3267fe;
	margin-top: 30px;
}

#yzm1{
	width:150px;
}
#_code,#_code_time{
	float: left;
	width: 150px;
	height:40px;
	line-height: 40px;
	background: #f7f7f7;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 18px;
	color:#888;
	text-align: center;
	margin-left: 16px;
	cursor: pointer;
}
#_code_time{
	display: none;
}