<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1069},{128,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,62}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1083},{124,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,66}}</string>
                <key>sourceSize</key>
                <string>{128,66}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,894},{139,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,62}}</string>
                <key>sourceSize</key>
                <string>{139,62}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1074},{117,77}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,77}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,829},{130,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,63}}</string>
                <key>sourceSize</key>
                <string>{132,63}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1004},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1099},{126,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,62}}</string>
                <key>sourceSize</key>
                <string>{130,62}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,958},{139,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,44}}</string>
                <key>sourceSize</key>
                <string>{141,48}</string>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,754},{195,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,270}}</string>
                <key>sourceSize</key>
                <string>{195,270}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1018},{90,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>beijing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,750}}</string>
                <key>sourceSize</key>
                <string>{1920,750}</string>
            </dict>
            <key>caidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,951},{167,90}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{167,90}}</string>
                <key>sourceSize</key>
                <string>{173,94}</string>
            </dict>
            <key>daoju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1281},{54,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,55}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>daoju2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1225},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>food1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,1159},{26,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{26,24}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>food2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1144},{27,31}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>food3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,989},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{23,25}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>food4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1014},{30,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{30,31}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>food5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,954},{25,33}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,33}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1009},{144,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{144,72}}</string>
                <key>sourceSize</key>
                <string>{150,76}</string>
            </dict>
            <key>jianxiaosy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1077},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>lookout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1151},{112,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,77}}</string>
                <key>sourceSize</key>
                <string>{116,77}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,754},{172,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,103}}</string>
                <key>sourceSize</key>
                <string>{172,103}</string>
            </dict>
            <key>playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,859},{170,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,93}}</string>
                <key>sourceSize</key>
                <string>{172,93}</string>
            </dict>
            <key>stopsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1114},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>zangai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,754},{137,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,73}}</string>
                <key>sourceSize</key>
                <string>{139,75}</string>
            </dict>
            <key>zangai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1133},{114,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,81}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
            <key>zangai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1043},{142,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,54}}</string>
                <key>sourceSize</key>
                <string>{142,56}</string>
            </dict>
            <key>zangai22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1153},{102,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,60}</string>
            </dict>
            <key>zangai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,954},{149,53}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,53}}</string>
                <key>sourceSize</key>
                <string>{149,63}</string>
            </dict>
            <key>zangai33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,951},{95,65}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{95,65}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>zangai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1213},{76,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>zangai44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1163},{60,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>zengdasy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1047},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>zhanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,1133},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image.png</string>
            <key>size</key>
            <string>{1924,1506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3894a70d996574c94e8a89f0991f28d:79dad7de74094018657f3fd25989aae4:3981721564b145ebd989175ec4ec092e$</string>
            <key>textureFileName</key>
            <string>image.png</string>
        </dict>
    </dict>
</plist>
